
    <h1>Check your coupon is Validate</h1>
    <br>
    <form class="form-inline" method="POST" action="/coupon/check">
    <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Check Coupon by Email">
    </div>
    <input type="submit" class="btn btn-primary" value="Check">
    </form>
</div>
