
<h1>Search Coupon By Email</h1>
<br>

<form class="form-inline" method="POST" action="/coupon/search/">
  <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Generate Coupon by Email">
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>